Client/xml-resources/web-service-references/login/wsdl/localhost_4789/ws/login.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="login" type="tns:login"></xs:element>

<xs:element name="loginResponse" type="tns:loginResponse"></xs:element>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="tns:request" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="request">
<xs:sequence>
<xs:element name="coordinates" type="tns:coordinates" minOccurs="0"></xs:element>
<xs:element name="map" type="tns:map" minOccurs="0"></xs:element>
<xs:element name="operation" type="tns:operation" minOccurs="0"></xs:element>
<xs:element name="user" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="coordinates">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="map">
<xs:sequence>
<xs:element name="grid" type="tns:shipArray" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ship">
<xs:sequence>
<xs:element name="coordinates" type="tns:coordinates" minOccurs="0"></xs:element>
<xs:element name="fieldsAlive" type="xs:int"></xs:element>
<xs:element name="length" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="vertical" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:generalDObject">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="generalDObject" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:response" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="response">
<xs:sequence>
<xs:element name="coordinates" type="tns:coordinates" minOccurs="0"></xs:element>
<xs:element name="hit" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="map" type="tns:map" minOccurs="0"></xs:element>
<xs:element name="operation" type="tns:operation" minOccurs="0"></xs:element>
<xs:element name="rankList" type="tns:rankItem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="responseStatus" type="tns:responseStatus" minOccurs="0"></xs:element>
<xs:element name="ship" type="tns:ship" minOccurs="0"></xs:element>
<xs:element name="user" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="userPlaying" type="xs:boolean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rankItem">
<xs:sequence>
<xs:element name="game" type="tns:game" minOccurs="0"></xs:element>
<xs:element name="user" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="game">
<xs:complexContent>
<xs:extension base="tns:generalDObject">
<xs:sequence>
<xs:element name="idGame" type="xs:int"></xs:element>
<xs:element name="idUser" type="xs:int"></xs:element>
<xs:element name="idWinner" type="xs:int"></xs:element>
<xs:element name="end" type="xs:boolean"></xs:element>
<xs:element name="numberOfFieldsLeft" type="xs:int"></xs:element>
<xs:element name="numberOfFieldsHit" type="xs:int"></xs:element>
<xs:element name="score" type="xs:int"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:simpleType name="operation">
<xs:restriction base="xs:string">
<xs:enumeration value="LOGIN"></xs:enumeration>
<xs:enumeration value="CREATE_GAME"></xs:enumeration>
<xs:enumeration value="START_GAME"></xs:enumeration>
<xs:enumeration value="USER_SHOOT"></xs:enumeration>
<xs:enumeration value="SERVER_SHOOT"></xs:enumeration>
<xs:enumeration value="USER_WIN"></xs:enumeration>
<xs:enumeration value="SERVER_WIN"></xs:enumeration>
<xs:enumeration value="SCOREBOARD"></xs:enumeration>
<xs:enumeration value="END"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="responseStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="OK"></xs:enumeration>
<xs:enumeration value="ERROR"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="shipArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:ship" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>